.global_wrapper {
  margin: 0;
  background-color: var(--color-background);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.global_header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global_main {
  min-height: calc(100vh - 230px);
  overflow: hidden;
}

.global_footer {
  height: 80px;
}
