.main_wrapper {
  min-height: calc(100vh - 230px);
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  left: 0;
}

.hide {
  left: 100%;
}

.select_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select_item {
  margin: 20px;
  width: 300px;
  border: 1px solid white;
}

.main_bottom {
  display: flex;
  justify-content: center;
}

.button {
  width: 300px;
  height: 100px;
  border: 1px solid #000;
}

.settings_button {
}
