$color-active: #ffbca2;
$color-text-on-dark: #fff;
$color-text-on-light: #000;
$color-background: #000;
$color-background-light: #fff;
$color-background-transparent: rgba(0, 0, 0, 0.5);
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-grey: #a4a4a4;
