.results_wrapper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: $color-background-light;
  color: $color-text-on-light;
  border-radius: 20px;
}

.results {
  text-align: center;
  font-size: 40px;
}